
{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col">
            {% include '@Modules/favoriterider/views/templates/admin/riders/form.html.twig' %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}