includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    - ../../src
    - ../../controllers
    - ../../favoriterider.php
  excludes_analyse:
    - vendor/
  reportUnmatchedIgnoredErrors: false
  level: max
  checkMissingIterableValueType: false
  doctrine:
    repositoryClass: PrestaShop\Module\FavoriteRider\Repository\RiderRepository