$mainColor: #2e86de;
$favColor: #ee5253;
//"medals" colors
$gold: #f9e755;
$goldDark: #fdb73b;
$silver:#d9dbda;
$silverDark:#a1a9ab;
$bronze:#e7a27b;
$bronzeDark:#c2774d;

$cropPosition: 12% 0;

.gold {
  color: $goldDark;
}

.silver {
  color: $silverDark;
}

.bronze {
  color: $bronzeDark;
}

.rider-discipline {
  color: #7a7a7a;
  font-weight: 400;
}
